@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.mycard {
    background: white;
    border: var(--color-gray-300);
    padding: 2rem;
    border-radius: 10px;
    /* transition: 0.4s; */
}
